 <meta charset="UTF-8">
<table class="form_table">
	<tr><td colspan="6" class="part_title_td">详细内容</td></tr>
    <tr>
    	<td class="right_td">市场主体</td>
    	<td colspan="5">{{marketObjectName}}</td>
    </tr>
    <tr>
    	<td class="right_td">抽查阶段</td>
    	<td colspan="5">{{status}}</td>
    </tr>
    <tr>
    	<td class="right_td">诚信等级</td>
    	<td colspan="5">{{creditRating}}</td>
    </tr>
    <tr>
    	<td class="right_td">监管等级</td>
    	<td colspan="5">{{supervisionLevel}}</td>
    </tr>
    <tr>
    	<td class="right_td">执行时间</td>
    	<td colspan="5">{{executeDate}}</td>
    </tr>
    <tr>
    	<td class="right_td">附件名</td>
    	<td colspan="5">下载链接</td>
    </tr>
    {{each fileList value i}}
    <tr>
    	<td class="right_td">{{value.key}}</td>
    	<td colspan="5"><a href="/RandomInspect/{{value.value}}" target="_blank">{{value.value}}</a></td>
    </tr>
    {{/each}}
</table>