 <meta charset="UTF-8">
<table class="form_table">
	<tr><td colspan="6" class="part_title_td">详细内容</td></tr>
    <tr>
    	<td class="right_td">抽查计划</td>
    	<td colspan="5">{{checkPlanName}}</td>
    </tr>
    <tr>
    	<td class="right_td">抽查时间</td>
    	<td colspan="5">{{checkTime}}</td>
    </tr>
    <tr>
    	<td class="right_td">状态</td>
    	<td colspan="5">{{status}}</td>
    </tr>
    <tr>
    	<td class="right_td">诚信等级</td>
    	<td colspan="5">{{creditRating}}</td>
    </tr>
    <tr>
    	<td class="right_td">监管等级</td>
    	<td colspan="5">{{supervisionLevel}}</td>
    </tr>
    <tr>
    	<td class="right_td">执行时间</td>
    	<td colspan="5">{{executeTime}}</td>
    </tr>
    <tr>
    	<td class="right_td">执法人员</td>
    	<td colspan="5">{{executeInspector}}</td>
    </tr>
</table>